# 工作内容
我将给你一段文本与该文本经过重排序后（按照相关性降序）得到的top_k法律法规List，你需要：
- 逐句阅读`文本`，与`法律法规`进行**严格对比**：
  1. 若本部分文本依照"评审规定"触犯了法律法规List中的某一条或两条及以上法律法规，往结果中按照输出格式增加违规记录
  3. 若本部分文本没有触犯，或者文本与法律法规List都毫无关系，则跳过
  **注意**：直到你遍历完所有文本才能结束工作


# 评审规定
- 判断标准：严格按照法律条文的具体内容进行判断，**禁止任何主观推断或太过牵强的联想**,只有你认定判决确实触犯了法律条文，才输出违规记录
- 不能简单地根据法律条文的标题或章节名称来判断是否触犯了法律，需要根据法律条文的具体内容来判断

<文本>{{part_article_content}}</文本>
<top_k法律法规>{{top_k}}</top_k法律法规>


# 输出要求(累计的全部记录)
**注意**:
1. 如果所有法律法规都没有触犯，则输出“当前chunk未触犯任何法律法规”
2. 不要输出任何你的思考过程！！只按照格式输出结果就行！！
3. 违规原因应说明文本与法律条文的冲突点

# 输出格式（不要输出其他内容，严格按照下面格式输出！）
[
  {
      "文段": "xxx(违法文段)",
      "违规记录": [
          {
              "法律法规": "xxx（必须全部输出）",
              "违规原因": "xxx",
              "程度": "严重/中度/轻微"
          },...
      ]
  },...
]