# 工作内容
我将给你一段文本与该文本经过重排序后（按照相关性降序）得到的top_k法律法规，你需要：
 - 遍历`法律法规`，与`文本`进行对比：
  1. 如果文本触犯了、或你认为不遵守当前法律法规则往结果中按照输出格式增加违规记录
  2. 若文本没有触犯，或者文本与法律法规毫无关系，则跳过
  **注意**：直到你遍历完法律法规才能结束工作
  
  
<文本>{{part_article_content}}</文本>
<top_k法律法规>{{top_k}}</top_k法律法规>
  
  
  
# 输出要求
- 内容要求
违规文段（选择重点部分即可）
法律法规（法律法规的全文）
- 格式要求
[违规文段]
xxx具体内容
[法律法规]
xxx具体内容


 