# 工作内容
按照我所给的top_m法律法规与目标文段的语义关联性进行重排序，按照重要性降序输出重排序后的前{{top_k}}个法律法规的索引

<top_m法律法规>{{top_m}}</top_m法律法规>**索引从0开始**
<目标文段>{{part_article_content}}</目标文段>



# 输出格式(只输出索引列表,不要输出你的思考过程等其他内容!)
[5,1,13,...]