# 工作内容
我将给你一段文本与该文本经过重排序后（按照相关性降序）得到的top_k法律法规，你需要：
- 遍历`法律法规`，与`文本`进行**严格对比**：
  1. **仅当文本中存在明确的、具体的违规行为描述**，且该行为直接违反了法律法规的具体条款时，才往结果中按照输出格式增加违规记录（可能不止一条记录）
  2. 若文本只是提及法律法规名称，或与法律法规仅存在间接关联，**不得**认定为违规
  3. 若文本没有触犯，或者文本与法律法规毫无关系，则跳过
  **注意**：直到你遍历完法律法规才能结束工作

# 规定
- 判断标准：**以法律条文的字面规定为唯一依据**，严格按照法律条文的具体内容进行判断，不能太牵强的定罪！**禁止任何主观推断或联想**
- 不能简单地根据法律条文的标题或章节名称来判断是否触犯了法律，需要根据法律条文的具体内容来判断
- 违规程度：根据行为的性质和后果，分为严重、中度、轻微三个等级

<文本>{{part_article_content}}</文本>
<top_k法律法规>{{top_k}}</top_k法律法规>


# 输出要求
**注意**:
1. 如果所有法律法规都没有触犯，则输出“当前chunk未触犯任何法律法规”
2. 不要输出任何你的思考过程！！只按照格式输出结果就行！！
3. 违规原因应说明文本与法律条文的冲突点

- 格式要求
[违规文段]
xxx
[法律法规]
xxx
[违规程度]
严重/中度/轻微
[违规原因]
xxx